:root {
  margin: 0;
  top: 0;
  left: 0;
}

h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 6vh;
  margin: 0;
  padding-left: 3%;
  color: white;
  border-bottom: 8px solid black;
}

#selection {
padding-left: 10%;
  padding-right: 10%;
  top: 8%;
  background-color: black;
  z-index: 100;
  position: absolute;
}

#selection-text {
color: white;
}


#scoreboard-div {
  background-color: green;
  margin-top: 0;
  color: white;
  padding-top: 1%;
  padding-bottom: 2%;
  text-align: center;
}

#game-div {
  background-color: black;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3%;
  position: relative;
  padding: 4%;
}

#game-div button {
  background-color: Purple;
  color: white;
  font-size: 28px;
}

#rock-div,
#paper-div,
#scissor-div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#rock-button-image,
#paper-button-image,
#scissor-button-image {
  width: 100%;
  padding: 0;
}

#results-div {
  height: auto;
  background-color: green;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8%;
  padding-left: 0;
}

#match-value-text,
#user-value-text,
#cpu-value-text,
#round-value-text,
#winner-value-text {
  color: white;
  
}


